@import 'var';
@import 'navbar';
@import 'footer';

/* Index */
/* Carrusel */
.carrouselMargin {
    margin: 10rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Cards */
.span {
    color: white;
    background-color:#212529 ;
}
/* Contacto */
/* extend */
#buton {
    background-color:$buttonColor;
    color: white;
    border-color:$buttonColor;
}
@mixin  marginandsizes {
    width: 80px;
    height: 40px;
    margin-top: 10px;  
}
#btnContacto {
    @include marginandsizes();
    @extend #buton;
    font-size: 18px;
    font-weight: bolder;
}
.contactanos {
    color:gray;
}
.maps {
    color: gray;
}


/* media queries */
@media screen and (max-width:576px) {
    #media {
       display: inline !important;
   }
   #media2 {
    display: inline !important;
}
}


