@import 'var';
@import 'navbar';
@import 'footer';

/* Index */
/* Carrusel */

.carrouselMargin {
    margin: 10rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Cards */
.span {
    color: white;
    background-color:#212529 ;
}
/* Contacto */
#buton {
    background-color:$buttonColor;
    color: white;
    border-color:$buttonColor;
}
@mixin  marginandsizes {
    width: 80px;
    height: 40px;
    margin-top: 10px;  
}
#btnContacto {
    @include marginandsizes();
    font-size: 18px;
    font-weight: bolder;
    background-color:$buttonColor;
    color: white;
    border-color:$buttonColor;
}
.contactanos {
    color:gray;
}
.maps {
    color: gray;
}


/* media queries */
@media screen and (max-width: 576px) {
    #media{
        display: inline !important;
    }
    .card {
     display: inline;
    }
    #media2 {
        display: inline !important;
    }
    /* ofertas */
    .card-img-overlay {
        display: none;
    }
    #none {
        display: none;
    }
}

