#button {
    border-color:gray;
    color:gray;
}

/* Footer */
.footer .list {
    display: flex;
    justify-content: space-around;
    margin-right:50px ;
    list-style:none;
}

/* Parte final del footer: Home Contact y Products con hover aplicado */
.id:hover {
    color: red !important;
}

